
.social{
    display: flex;
    gap: .5rem;
    &>*{
        padding: 8px;
    }
}


.telegram,.vk{
    color: var(--light-light);
    background: var(--light-lightdark);
    border-radius: 20px;
    text-align: center;
    height: 100%;
}

.send{
    overflow: hidden;
    gap: .5rem;
    display: flex;
    flex: 1;
}

.send_text{
    background: var(--light-lightdark);
    box-shadow: 0 0 5px var(--light-lightdark);
    color: var(--light-light);
    border-radius: 8px;
    height: 100%;
    font-size:150%;
    width: 250px;
    padding-inline: 16px;
    &:focus-visible{
        outline: 0;
    }
    &::placeholder{
        font-size: 1em;
        font-weight: bold;
    }
}

.send_message{
    background: var(--light-lightdark);
    color: var(--light-light);
    font-size:100%;
    font-weight: bold;
    border-radius: 50%;
    padding: 4px;
    height: 100%;
    width: 100px;
    &:hover{
        box-shadow: 0 0 5px rgba(0,0,0,0.3);
    }
}

@media screen and (max-width: 768px) {
    .social{
        flex-direction: column;
        width: 100%;
        &>*{
        }
    }
    .telegram,.vk{
        box-sizing: border-box;
    }
    .send{
        flex-direction: column;
        gap: 16px;
    }
    .send_text{
        box-sizing: border-box;
        width: 100%;
        height: 100px;
    }
    .send_message{
        width: 100%;
        height: 100px;
        border-radius: 20px;
    }
}