@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.home_image {
    display: flex;
    position: relative;
    max-width: min(100%, calc(600px - 2rem));
    height: min(100vw, calc(600px - 2rem));
    flex: 1 0 600px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 40px var(--light-grey);
    justify-content: center;
    animation: boxShadowImage 5s infinite linear;
}

@keyframes boxShadowImage {
    0% {
        box-shadow: 0 0 40px var(--light-grey);
    }
    50% {
        box-shadow: 0 0 5px var(--light-grey);
    }
    100% {
        box-shadow: 0 0 40px var(--light-grey);
    }
}

.image_me {
    height: 100%;
}

.home_info {
    flex: 1 0;
    font-size: max(6vw, 8vh);
    pointer-events: none;
}

.name, .surname {
    position: relative;
    > * {
        font-family: 'Bebas Neue', sans-serif;
    }
}

.info_title {
    position: absolute;
    left: 20%;
    top: -40%;
    -webkit-text-stroke: 1px var(--light-light);
    color: transparent;
}

.name_text {
    color: var(--light-light);
}

