@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.container {
    margin: auto;
    max-width: 1200px;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.home {
    box-sizing: border-box;
    height: 100dvh;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}

.home_image {
    display: flex;
    position: relative;
    max-width: min(100%, calc(600px - 2rem));
    height: min(100vw, calc(600px - 2rem));
    flex: 1 0 600px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 40px var(--light-grey);
    animation: boxShadowImage 5s infinite linear;
}

@keyframes boxShadowImage {
    0% {
        box-shadow: 0 0 40px var(--light-grey);
    }
    50% {
        box-shadow: 0 0 5px var(--light-grey);
    }
    100% {
        box-shadow: 0 0 40px var(--light-grey);
    }
}

.image_me {
    transform: translateX(-20%);
    height: 100%;
}

.home_info {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    flex: 1 0 600px;
    gap: 1rem;
    width: max(10vw, 4rem);
    font-size: max(6vw, 8vh);
    pointer-events: none;
}

.name, .surname {
    z-index: 1;
    position: relative;
    text-align: justify;

    > * {
        font-family: 'Bebas Neue', sans-serif;
    }
}

.info_title {
    position: absolute;
    left: 20%;
    top: -40%;
    -webkit-text-stroke: 1px var(--light-light);
    color: transparent;
}

.name_text {
    color: var(--light-light);
}

