
#project{
    flex-direction: column;
    gap: 1em;
    justify-content: center;
}


.item_project{
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 20vh;
    justify-content: space-between;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    &:hover{
        .project_name{
            transform: translate(-50%,50%);
            transition: transform .3s linear;
        }
        .project_front,.project_back,.project_link_github{
            transform: translateY(0);
        }
        .project_divider{
            opacity: 1;
        }
    }
}

.project_name{
    font-size: 6vw;
    pointer-events: none;
    z-index: 1;
    color: transparent;
    vertical-align: middle;
    font-family: 'Bebas Neue', sans-serif;
    -webkit-text-stroke: 1px #333333;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: transform .3s linear .9s;
}

.project_link_website{
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 50%;
    width: 10%;
    transform: translate(0, -50%);
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.1));
}

.link_website{
    position: relative;
    display: flex;
    align-items: center;
    padding-inline: 8px;
    text-transform: uppercase;
    color: #FFFFFF;
    height: 100%;
    background: var(--light-lightdark);
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
    transition: background-color .3s linear;
    &:hover{
        background: var(--light-grey);
    }
}

.project_background{
    position: relative;
    flex: 1;
    width: 100%;
    background-size: cover;
}


.project_info{
    overflow: hidden;
    display: flex;
    gap: .5rem;
    justify-content: center;
    height: 20vh;
    background: rgba(13, 13, 13, 0.9);
}
.project_front{
    transition: transform .3s linear .3s;
}
.project_back{
    transition: transform .3s linear .6s;
}

.project_link_github{
    display: flex;
    align-items: center;
    transition: transform .3s linear .9s;
}

.link_github{
    padding: .5rem;
    border-radius: .5rem;
    color: var(--light-light);
    border:1px solid var(--light-light);
    &:hover{
        background: #333333;
    }
}

.project_front, .project_back{
    overflow-y: scroll;
    text-align: center;
    color: #FFFFFF;
}

.project_front, .project_back, .project_link_github{
    transform: translateY(-100%);
}

.project_divider{
    content: "";
    width: 1px;
    height: 100%;
    background: var(--light-lightdark);
    opacity: 0;
    transition: opacity .6s linear ;
}

.tap_mobile{
    display: none;
    position: absolute;
    right: 1%;
    top: 50%;
    transform: translate(-50%, -50%);
    & path{
        color: var(--light-light);
    }
}

@media screen and (max-width:900px) {
    .item_project:hover{
        .project_name{
            transform: translate(-50%,100%);
        }
    }
    .project_name{
        font-size: 15vw;
    }
    .project{
        padding: 8px;
    }
    .project_link_website{
        width: 20%;
    }
    .link_website{
        font-size: 3vw;
    }
    .project_front,.project_back,.link_github{
        font-size: 3vw;
    }
    .link_github{
        padding: 0.4rem;
    }
    .tap_mobile{
        display: block;
    }

}